<% @title = "Edit Map " + @map.name %>
<%= form_with(model: @map) do |form| %>
  <% if @map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% @map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: "name" %>
  </div>
    
  <div class="field">
    <%= form.label :center %>
    <%= form.text_field :center, id: "center" %>
  </div>

  <div class="field">
    <%= form.label :zoom %>
    <%= form.number_field :zoom, id: "zoom" %>
  </div>

  <div class="field">
    <%= form.label :rock_glacier %>
    <%= form.check_box :rock_glacier, id: "rock_glacier" %>
  </div>

  <p>
    <strong>Latitude:</strong>
    <span id="latitude"><%= @map.latitude %></span>
  </p>

  <p>
    <strong>Longitude:</strong>
    <span id="longitude"><%= @map.longitude %></span>
  </p>

  <%= render 'google_map', map: @map %>

<% end %>
