<%= form_with(model: @map) do |form| %>
  <% if @map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% @map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: "name" %>
  </div>
    
  <div class="field">
    <%= form.label :center %>
    <%= form.text_field :center, id: "center" %>
  </div>

  <div class="field">
    <%= form.label :zoom %>
    <%= form.number_field :zoom, id: "zoom" %>
  </div>

  <div class="field">
    <%= form.label :glaciar_rock %>
    <%= form.check_box :glaciar_rock, id: "glaciar_rock" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
