<tr id="<%= @map.id %>">
  <td><%= map.name %></td>
  <td><%= map.latitude %></td>
  <td><%= map.longitude %></td>
  <td><%= map.url %></td>
  <td><%= map.elevation %></td>
  <td><%= map.zoom %></td>
  <td><%= map.glaciar_rock %></td>
  <td><%= map.user.username %></td>
  <td><%= link_to 'Show', map %></td>
  <td><%= link_to 'Edit', edit_map_path(map) %></td>
  <td><%= link_to 'Destroy', map, method: :delete, data: { remote: true, confirm: 'Are you sure?' } %></td>
</tr>