<% @title="Rocks Glaciers" %>
<p id="notice"><%= notice %></p>

<h1>Rocks Glaciers</h1>

<table id="map" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Coordinates</th>
      <th>Elevation</th>
      <th>Temperature</th>
      <th>Zoom</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rock_glacier_maps.each do |map| %>
      <tr id="<%= map.id %>">
        <td><a href="<%= map.url %>"><%= map.name %></a></td>
        <td><%= map.center %></td>
        <td><%= map.elevation %></td>
        <td><%= map.temperature %></td>
        <td><%= map.zoom %></td>
        <td><%= map.user.username %></td>
        <td><%= link_to 'Show', map, class: "btn btn-primary" %></td>
        <% if can? :edit, map %>
          <td><%= link_to 'Edit', edit_map_path(map), class: "btn btn-success" %></td>
        <% end %>
        <% if can? :destroy, map %>
          <td><%= link_to 'Destroy', map, method: :delete, data: { remote: true, confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>