<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @map.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @map.longitude %>
</p>

<p>
  <strong>Url:</strong>
  <%= @map.url %>
</p>

<p>
  <strong>Elevation:</strong>
  <%= @map.elevation %>
</p>

<p>
  <strong>Zoom:</strong>
  <%= @map.zoom %>
</p>

<p>
  <strong>Width:</strong>
  <%= @map.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @map.height %>
</p>

<p>
  <strong>Glaciar Rock:</strong>
  <%= @map.glaciar_rock %>
</p>

<p>
  <strong>User:</strong>
  <%= @map.user.username %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
