<%= form_with(model: maplist, local: true) do |form| %>
  <% if maplist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maplist.errors.count, "error") %> prohibited this maplist from being saved:</h2>

      <ul>
      <% maplist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :map_id %>
    <%= form.text_field :map_id %>
  </div>

  <div class="field">
    <%= form.label :glaciar_rock %>
    <%= form.check_box :glaciar_rock %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
