<p id="notice"><%= notice %></p>

<h1>Maplists</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Map</th>
      <th>Glaciar rock</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maplists.each do |maplist| %>
      <tr>
        <td><%= maplist.user %></td>
        <td><%= maplist.map %></td>
        <td><%= maplist.glaciar_rock %></td>
        <td><%= link_to 'Show', maplist %></td>
        <td><%= link_to 'Edit', edit_maplist_path(maplist) %></td>
        <td><%= link_to 'Destroy', maplist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maplist', new_maplist_path %>
