<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<% maps_path %>">All maps<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<% my_maps_path %>">Mis mapas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Glaciares Rocosos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">No es Glaciar Rocoso</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user.nil? %>
            <%= 'Guest' %>
          <% else %>
            <%= current_user.username %>
          <% end %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <a class="dropdown-item" href="<%= edit_user_registration_path %>">Editar datos</a>
            <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-method="DELETE">Salir</a>
          <% else %>
            <a class="dropdown-item" href="<%= new_user_session_path %>">Ingresar</a>
            <a class="dropdown-item" href="<%= new_user_registration_path %>">Registrarse</a>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>